/*Use this when you're stuck*/
.outline {
    outline: solid 1px red;
}

/*HTML reset*/
*, html {
    margin:0;
    padding:0;  
}

/*Header Styling*/
header {
    background-color:#2A2127;
    padding: 0px 8% 0px 8%;
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
}

header h3 {
    margin-right: 40px;
    margin-top: 20px;
}

.nav {
    display:inline;
    padding:20px 15px 20px 15px;
}

.nav:hover, .nav:active {
    background-color:#DF6209;
    color:#2A2127;

}


/*Body Styling*/
body {
    background-color: #DFD5C7;
    font-family: 'Montserrat', sans-serif;
}

p, li {
    font-family: 'Maitree', serif;
}

<<<<<<< HEAD
=======



>>>>>>> refs/remotes/origin/master
/*About Styling*/
#About {
    padding: 4% 8% 4% 8%;
    display: flex;
    align-items: center;
}

#About img {
    width: 400px;
    height: 400px;
    margin-right:50px;
}

#About a:link {
    color: #DF6209;
}

#About a:visited {
    color:#6F3F59;
}

.content h3 {
    font-weight: 300;
    color:#6F3F59;
    margin-top:6px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 10px;
}

ul.icons{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.icons li {
    color: #6F3F59;
    display: inline;
}

/*Work Styling*/
 #Work {
    padding: 2% 8% 4% 8%;
    align-items: center;
    background-color:#2A2127;
    color: white;
 }

 #Work img {
    mix-blend-mode: multiply;
    filter: grayscale(1);
 }

 #Work img:hover {
     mix-blend-mode: normal;
     filter: none;
     transition: all .5s linear;
 }

 .projectCards {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .card {
     width: 600px;
     height: 600px;
     margin-bottom: 40px;
     background-color:#DFD5C7;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 .card h3 {
     background-color:#6F3F59;
     width: 100%;
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
 }

 #Hodo {
     height: 530px;
     width: 245px;
 }

 #DoE {
     height: 530px;
     width: 530px;
 }
/*Connect Styling*/
#Connect {
    margin-top: 40px;
    padding: 2% 8% 4% 8%;
    align-items: center;
    background-color:#DF6209;
 }

 #Connect p {
     margin-bottom: 15px;
 }

 #Connect ul {
    list-style-type: none;
    padding: 0;
 }

 #Connect li a {
     color: black;
     margin-left: 30px;
     vertical-align: 50%;
 }

/*Footer Styling*/
footer {
background-color:#2A2127;
padding: 20px 8% 10px 8%;
margin-top: 40px;
display: flex;
justify-content: space-between;
color: white;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
}

/*Mobile Devices*/
@media only screen and (max-width:575px) {
    /*About Work Styling*/
    #About {
        flex-wrap:wrap;
        justify-content: center;
    }

    #About img {
        width: 100%;
        height: auto;
    }

    
    /*Mobile Work Styling*/
    .card {
        height: auto;
    }

    #DoE {
        width: 90%;
        height:auto;
    }
}